body{
    font-family: 'Montserrat', sans-serif;

}

.bg{
    background-image: url('/img/sign-in-bg.png');
    background-color: #F1D1B5;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-family: 'PlayFair Display', serif;
    color: white;
    font-size: 2em;
    letter-spacing: 1px;
  }